<div class="reset-password-container">
    <div class="card">
        <div class="img">
        </div>
        <div class="card-body">
            <div class="card-title">
                Cannot enter the land of food
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group">
                        <label class="label" for="password">Email</label>
                        <input type="password" class="form-control" placeholder="Email" required="">
                    </div>
                </div>
                <div class="form-row mb-2">
                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                        Reset password
                    </button>
                </div>
            </form>
            <p class="text-center"><a data-toggle="tab" routerLink="/login">Back to login</a></p>
        </div>
    </div>
</div>